* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

body {
  background-color: #FFFD88;
}

.App {
  text-align: center;
}

h1 {
  align-items: center;
  background-color: #B2E672;
  color: #111;
  display: flex;
  font-family: 'Griffy', sans-serif;
  font-size: 50px;
  height: 100px;
  justify-content: center;
  margin-bottom: 20px;
}

form {
  margin-bottom: 10px;
}

.TodoInput {
  border: none;
  border-radius: 5px;
  box-shadow: inset 0 0 10px #ccc;
  font-size: 18px;
  outline-color: #F96B85;
  padding: 10px;
}

ul {
  margin: auto;
  overflow: auto;
  padding-bottom: 70px;
  padding-left: 0px;
  width: 300px;
}

li {
  font-size: 20px;
  line-height: 1.8;
  list-style-type: none;
  text-align: left;
}

input[type="checkbox"] {
  margin-right: 10px;
}

input[type="checkbox"]:hover {
  cursor: pointer;
}

.error {
  color: #F96B85;
}

.success {
  color: #84e70a;
}

span {
  visibility: hidden;
}

li:hover span {
  cursor: pointer;
  visibility: visible;
}

footer {
  align-items: center;
  background-color: #FFD478;
  bottom: 0;
  display: flex;
  height: 50px;
  left: 0;
  justify-content: center;
  position: fixed;
  width: 100%;
}

footer a {
  color: #111;
  padding: 0 5px;
}

footer a:hover {
  color: #F96B85;
}

footer a.active {
  font-weight: bold;
}
