.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Todo-App {
  padding-top: 20px;
  display: inline-block;
  text-align: left;
}

input {
  font-size: 20px;
}

ul {
  padding: 0px;
}

li {
  font-size: 24px;
  list-style-type: none;
}

.error {
  color: red;
}

span {
  visibility: hidden;
}

li:hover span {
  cursor: pointer;
  visibility: visible;
}
