.App {
  text-align: center;
}

.Todo-App {
  padding-top: 20px;
  display: inline-block;
  text-align: left;
}

input {
  font-size: 20px;
}

ul {
  padding: 0px;
}

li {
  font-size: 24px;
  list-style-type: none;
}

.error {
  color: red;
}

.success {
  color: green;
}

span {
  visibility: hidden;
}

li:hover span {
  cursor: pointer;
  visibility: visible;
}

footer a {
  padding: 0 5px;
}

footer a.active {
  font-weight: bold;
}
